[submodule "firefox/chrome"]
	url = https://github.com/uvera/moonlight-userChrome/commits/master
[submodule "fish/fundle/tuvistavie/oh-my-fish-core"]
	path = fish/fundle/tuvistavie/oh-my-fish-core
	url = https://github.com/danhper/oh-my-fish-core
[submodule "fish/fundle/jethrokuan/z"]
	path = fish/fundle/jethrokuan/z
	url = https://github.com/jethrokuan/z
[submodule "fish/fundle/jethrokuan/fzf"]
	path = fish/fundle/jethrokuan/fzf
	url = https://github.com/jethrokuan/fzf
